<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@(String.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title + " -" : "") Point of Sale System</title>
  @Styles.Render("~/Content/css")
  @RenderSection("header", required: false)
</head>
<body>
  <section>
    <header>
      <div class="left-section">
        <div class="logo"><a href="@Url.Action("Index","Home")"><img src="~/Images/logo.png" /></a></div>
      </div>
      <div class="center-section">
        @if (Session["UserID"] != null) {
        <a href="@Url.Action("Index","Home")"><img src="/Upload/POSOrganization/@Session["OrganizationLogo"]" /></a>
        }
      </div>
      <div class="right-section">

        <nav class="user-management">

          @if (Session["UserID"] == null) {
            <div> @Html.ActionLink("Log in", "Index", "User")</div>
          } else {
            <div>
              @Session["OrganizationName"]
              (<b>@Session["FullName"]</b>)
            </div>

            <div id="user-menu">
              @Html.ActionLink("Home", "Index", "Home") |
              @Html.ActionLink("Change Password", "ResetPassword", "Home") |
              @Html.ActionLink("Log Out", "Logout", "Home")
            </div>
          }
        </nav>
      </div>
    </header>
  </section>
  @RenderSection("toolbar", required: false)

  <section class="body-content">
    @RenderBody()
  </section>

  <section>
    <footer>
      Copyright @DateTime.Now.Year &copy;  Exponent Technology all rights reserved
    </footer>
  </section>



  @Scripts.Render("~/bundles/jquery")
  @RenderSection("scripts", required: false)


</body>
</html>
